<div class="checkYourself">
  <div class="wrapper">
    <div class="checkYourself__container">
      <div class="checkYourself__board">
        <img src="./img/chess.png" alt="">
      </div>
      <div class="checkYourself__controlPanel">
        <div class="checkYourself__box">
          <h2 class="title">Проверьте себя</h2>
          <p class="text">Поставьте мат в 12 ходов. Играйте белыми.</p>
          <div class="checkYourself__history">
            <div>
              <img src="./img/history.png" alt="">
            </div>
            <a class="help">Подсказать</a>
          </div>
          <div>
            <button class="checkYourself__restart">Сначала</button>
            <button class="checkYourself__next">Следующая задача</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>