<footer class="footer fakeFooter">
    <div class="wrapper">
      <div class="footer__container">
        <div class="footer__left">
          <div class="footer__navItem">
            <a href="./courses.html">Учиться</a>
          </div>
          <div class="footer__navItem">
            <a href="./teachers.html">Преподаватели</a>
          </div>
          <div class="footer__navItem">
            <a href="./tariffs.html">ТАРИФЫ</a>
          </div>
          <div class="footer__navItem">
            <a href="./webinars.html">ВЕБИНАРЫ</a>
          </div>
          <div class="footer__navItem">
            <a href="./school.html">Шахматы в школе</a>
          </div>
          <div class="footer__navItem">
          </div>
          <div class="footer__navItem">
            <a href="./play-choose.html">ИГРАТЬ</a>
          </div>
          <div class="footer__navItem">
            <a href="#">Форум</a>
          </div>
        </div>
        <!-- <div class="footer__left">
          <div class="footer__navItem">
            <a href="#">КУРСЫ</a>
          </div>
          <div class="footer__navItem">
            <a href="#">ШАХМАТЫ В ШКОЛАХ</a>
          </div>
          <div class="footer__navItem">
            <a href="#">МАНИФЕСТ</a>
          </div>
          <div class="footer__navItem">
            <a href="#">ВЕБИНАРЫ</a>
          </div>
          <div class="footer__navItem">
            <a href="#">ИГРАТЬ</a>
          </div>
          <div class="footer__navItem">
            <a href="#">ТРЕНЕРЫ</a>
          </div>
          <div class="footer__navItem">
            <a href="#">ДЛЯ САМЫХ МАЛЕНЬКИХ</a>
          </div>
          <div class="footer__navItem">
            <a href="#">ТАРИФЫ</a>
          </div>
          <div class="footer__navItem">
            <a href="#">СОЗДАТЕЛИ</a>
          </div>
        </div> -->
        <div class="footer__right">
          <div class="footer__docs">
            <div class="footer__docsItem">
              <a href="">Контакты</a>
            </div>
            <div class="footer__docsItem">
              <a href="">Политика конфиденциальности</a>
            </div>
            <div class="footer__docsItem">
              <a href="">Соглашение об использовании</a>
            </div>
          </div>
          <div class="footer__socials">
            <div class="header__socials">
              <a href="#" class="header__social-link">
                <img class="header__icon" src="/img/fb-icon.svg" alt="">
              </a>
              <a href="#" class="header__social-link">
                <img class="header__icon" src="/img/tw-icon.svg" alt="">
              </a>
              <a href="#" class="header__social-link">
                <img class="header__icon" src="/img/inst-icon.svg" alt="">
              </a>
              <a href="#" class="header__social-link">
                <img class="header__icon" src="/img/g-icon.svg" alt="">
              </a>
            </div>
          </div>
          <div class="footer__copy">© 2019 ChessAction</div>
        </div>
      </div>
    </div>
  </footer>