<div class="fakeMenu">
  <a href="./" class="fakeMenu__link pageLink" v-bind:class="{active: showLinks}"></a>
  <a href="./login.html" class="fakeMenu__link pageLink" v-bind:class="{active: showLinks}"></a>
  <a href="./courses.html" class="fakeMenu__link pageLink" v-bind:class="{active: showLinks}"></a>
  <a href="./webinars.html" class="fakeMenu__link pageLink" v-bind:class="{active: showLinks}"></a>
  <a href="./play-choose.html" class="fakeMenu__link pageLink" v-bind:class="{active: showLinks}"></a>
  <a href="./teachers.html" class="fakeMenu__link pageLink" v-bind:class="{active: showLinks}"></a>
  <a href="./school.html" class="fakeMenu__link pageLink" v-bind:class="{active: showLinks}"></a>
  <a href="./tariffs.html" class="fakeMenu__link pageLink" v-bind:class="{active: showLinks}"></a>
</div>