<header class="header">
  <div class="wrapper">
    <div class="header__container">
      <div class="header__line">
        <div class="header__socials">
          <a href="#" class="header__social-link">
            <img class="header__icon" src="/img/fb-icon.svg" alt="">
          </a>
          <a href="#" class="header__social-link">
            <img class="header__icon" src="/img/tw-icon.svg" alt="">
          </a>
          <a href="#" class="header__social-link">
            <img class="header__icon" src="/img/inst-icon.svg" alt="">
          </a>
          <a href="#" class="header__social-link">
            <img class="header__icon" src="/img/g-icon.svg" alt="">
          </a>
        </div>
        <div class="header__logo">
          <img src="/img/logo.svg" alt="">
        </div>
        <div class="header__right">
          <a href="./login.html" class="header__login-btn">
            Вход
          </a>
          <div class="header__lang">
            Ru
          </div>
        </div>
      </div>
      <div class="header__line header__line-nav nav">
        <a href="./courses.html" class="nav__link">Учиться</a>
        <a href="./webinars.html" class="nav__link">Вебинары</a>
        <a href="./play-choose.html" class="nav__link">Играть</a>
        <a href="./teachers.html" class="nav__link">Преподаватели</a>
        <a href="./school.html" class="nav__link">Шахматы в школе</a>
        <a href="./forum.html" class="nav__link">Форум</a>
        <a href="./tariffs.html" class="nav__link">Тарифы</a>
      </div>
    </div>
  </div>
</header>