<div class="homeCourses">
  <div class="wrapper">
    <h2 class="title">Курсы</h2>
    <div class="homeCourses__container">
      <div class="homeCourses__list">
        @@include('_includes/_blocks/_courses/_course_1.html')
        @@include('_includes/_blocks/_courses/_course_2.html')
        @@include('_includes/_blocks/_courses/_course_3.html')
        @@include('_includes/_blocks/_courses/_course_4.html')
        @@include('_includes/_blocks/_courses/_course_5.html')
        @@include('_includes/_blocks/_courses/_course_6.html')
        @@include('_includes/_blocks/_courses/_course_7.html')
        @@include('_includes/_blocks/_courses/_course_8.html')
      </div>
      <div class="sectionTotal sectionTotal-cources">
        <div class="sectionTotal__left">
          41 курс, 159 лекций, 782 часов
        </div>
        <div class="sectionTotal__right">
          <button class="more">ВСЕ КУРСЫ →</button>
        </div>
      </div>
    </div>
  </div>
</div>