<div class="homeWebinars">
    <div class="wrapper">
      <h2 class="title">Вебинары</h2>
      <div class="homeWebinars__container">
        <div class="homeWebinars__list">
          @@include('_includes/_blocks/_webinars/_webinar_1.html')
          @@include('_includes/_blocks/_webinars/_webinar_2.html')
          @@include('_includes/_blocks/_webinars/_webinar_3.html')
          @@include('_includes/_blocks/_webinars/_webinar_4.html')
          @@include('_includes/_blocks/_webinars/_webinar_5.html')
          @@include('_includes/_blocks/_webinars/_webinar_6.html')
          @@include('_includes/_blocks/_webinars/_webinar_7.html')
          @@include('_includes/_blocks/_webinars/_webinar_8.html')
        </div>
        <div class="sectionTotal sectionTotal-cources">
          <div class="sectionTotal__left">
            37 вебинаров скоро 
          </div>
          <div class="sectionTotal__right">
            <button class="more">ВСЕ ВЕбинары →</button>
          </div>
        </div>
      </div>
    </div>
  </div>