<div class="subscribe">
  <div class="wrapper">
    <div class="subscribe__container">
      <h5 class="subscribe__title">
        Когда выйдут новые курсы и вебинары
      </h5>
      <p class="subscribe__text">
        Оставьте электронную почту, чтобы узнать о выходе новых курсов и вебинарам. Без спама.
      </p>
      <div class="subscribe__inputContainer">
        <input class="subscribe__input" type="text" placeholder="Электронная почта">
        <button class="subscribe__button">ПОДПИСАТЬСЯ</button>
      </div>
    </div>
  </div>
</div>