<div class="lessonPreview">
    <div class="lessonPreview__back">
      <img src="./img/lesson_1.png" alt="">
    </div>
    <div class="lessonPreview__box">
      <div class="lessonPreview__head">
        <div class="lessonPreview__title" v-on:click="openLesson1(0)">Миттельшпиль. Часть 1</div>
      </div>
      <div class="lessonPreview__bottom">
        <div class="lessonPreview__bottomBox">
          <div class="lessonPreview__avatar">
            <img src="./img/preview-rapoport.png" alt="">
          </div>
          <div class="lessonPreview__text">
            <span class="lessonPreview__rank">Международный мастер</span>
            <span class="lessonPreview__speakerName">Василий Раппоппорт</span>
          </div>
        </div>
        <div class="lessonPreview__divider"></div>
        <div class="lessonPreview__info ">
          <div class="lessonPreview__infoItem infoItem">
            <span class="infoItem__name">Уровень доступа</span>
            <span class="infoItem__value">Базовый</span>
          </div>
          <div class="lessonPreview__infoItem infoItem">
            <span class="infoItem__name">Сложность</span>
            <span class="infoItem__value">Для опытных</span>
          </div>
        </div>
      </div>
    </div>
  </div>