<div class="coursePreview">
    @@include('_includes/_blocks/_phase/_endspiel.html')
    <div class="coursePreview__image">
      <img src="./img/course_7.jpg" alt="">
    </div>
    <div class="coursePreview__head">
      <div class="coursePreview__avatar">
        <img src="./img/preview-javoronkov.png" alt="">
      </div>
      <div class="coursePreview__text">
        <span class="coursePreview__rank">Кандидат в мастера</span>
        <span class="coursePreview__speakerName">Петр Жаворонков</span>
      </div>
    </div>
    <div class="coursePreview__bottom">
      <span class="coursePreview__name">Три «кита» эндшпиля</span>
      <div class="coursePreview__rating rankA">
        <span class="star"></span>
        <span class="star"></span>
        <span class="star"></span>
        <span class="star"></span>
        <span class="star"></span>
      </div>
      <div class="coursePreview__info">
        <div class="coursePreview__infoItem infoItem">
          <span class="infoItem__name">Уровень доступа</span>
          <span class="infoItem__value">Базовый</span>
        </div>
        <div class="coursePreview__infoItem infoItem">
          <span class="infoItem__name">Сложность</span>
          <span class="infoItem__value">Для профи</span>
        </div>
        <div class="coursePreview__infoItem infoItem">
          <span class="infoItem__name">Занятий</span>
          <span class="infoItem__value">2 лекции</span>
        </div>
        <div class="coursePreview__infoItem infoItem">
          <span class="infoItem__name">Продолжительность</span>
          <span class="infoItem__value">2 часа 12 минут</span>
        </div>
      </div>
    </div>
  </div>