<div class="coursePreview">
    @@include('_includes/_blocks/_phase/_mittelspiel.html')
    <div class="coursePreview__image">
      <img src="./img/course_8.jpg" alt="">
    </div>
    <div class="coursePreview__head">
      <div class="coursePreview__avatar">
        <img src="./img/preview-karyakin.png" alt="">
      </div>
      <div class="coursePreview__text">
          <span class="coursePreview__rank">Международный гроссмейстер</span>
        <span class="coursePreview__speakerName">Николай Шульц</span>
      </div>
    </div>
    <div class="coursePreview__bottom">
      <span class="coursePreview__name">Оригинальный стиль Тиграна Петросяна</span>
      <div class="coursePreview__rating rankA">
        <span class="star"></span>
        <span class="star"></span>
        <span class="star"></span>
        <span class="star"></span>
        <span class="star"></span>
      </div>
      <div class="coursePreview__info">
        <div class="coursePreview__infoItem infoItem">
          <span class="infoItem__name">Уровень доступа</span>
          <span class="infoItem__value">Мастер</span>
        </div>
        <div class="coursePreview__infoItem infoItem">
          <span class="infoItem__name">Сложность</span>
          <span class="infoItem__value">Для опытных</span>
        </div>
        <div class="coursePreview__infoItem infoItem">
          <span class="infoItem__name">Занятий</span>
          <span class="infoItem__value">19 лекций</span>
        </div>
        <div class="coursePreview__infoItem infoItem">
          <span class="infoItem__name">Продолжительность</span>
          <span class="infoItem__value">8 часов 24 минуты</span>
        </div>
      </div>
    </div>
  </div>