<div class="webinarPreview">
  @@include('_includes/_blocks/_phase/_endspiel.html')
  <div class="webinarPreview__head">
    <div class="webinarPreview__date">14 июля, 14:00</div>
    <div class="webinarPreview__title">Оригинальный стиль <br> Тиграна Петросяна</div>
  </div>
  <div class="webinarPreview__bottom">
    <div class="webinarPreview__bottomBox">
      <div class="webinarPreview__avatar">
        <img src="./img/preview-rapoport.png" alt="">
      </div>
      <div class="webinarPreview__text">
        <span class="webinarPreview__rank">Кандидат в мастера</span>
        <span class="webinarPreview__speakerName">Николай Шульц</span>
      </div>
    </div>
    <div class="webinarPreview__divider"></div>
    <div class="webinarPreview__info ">
      <div class="webinarPreview__infoItem infoItem">
        <span class="infoItem__name">Уровень доступа</span>
        <span class="infoItem__value">Мастер</span>
      </div>
      <div class="webinarPreview__infoItem infoItem">
        <span class="infoItem__name">Сложность</span>
        <span class="infoItem__value">Для новичков</span>
      </div>
    </div>
  </div>
</div>