    </div>
</body>
<script type="application/javascript">
    const links = [
        'http://188.226.187.93/video/Миттельшпиль. Часть1.mp4',
        'http://188.226.187.93/video/Основы дебюта.Часть6.mp4',
        'http://188.226.187.93/video/Основы зндшпиля-1.mp4',
        'http://188.226.187.93/video/Основы дебюта. Часть5.mp4',
        'http://188.226.187.93/video/Миттельшпиль. Часть2.mp4',
        'http://188.226.187.93/video/Миттельшпиль.Часть3.mp4'
    ]
    const app = new Vue({
      el:'#app',
      data: {
        modalIsOpen: false,
        activeLink: '',
        showLinks: false
      },
      methods: {
        openLesson1: function(lesson) {
          this.modalIsOpen = true;
          this.activeLink = links[lesson];
        },
        closeModal: function() {
          this.modalIsOpen = false;
          this.activeLink = '';
        },
        showImitationLinks: function() {
          this.showLinks = true;
          setTimeout(() => {
            this.showLinks = false;
          }, 400)
        }
      }
    });
    </script>
</html>