<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Chess Action</title>
	<link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800|Yeseva+One&display=swap" rel="stylesheet">
	<!-- <link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.0/slick/slick.css"/> -->
	<link rel="stylesheet" href="./css/main.css">

	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script type="text/javascript" src="http://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.0/slick/slick.min.js"></script> -->
	<!-- <script type="text/javascript" src="./chessboard-0.3.0.min.js"></script> -->
	<!-- <script type="text/javascript" src="./scripts.js"></script> -->
</head>
<body>
	<div id="app" class="main-wrapper">