/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  transition: 0.1s;
  outline: none;
  box-sizing: border-box; }

body {
  max-width: 100%; }

.main-wrapper {
  max-width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background: #191e24; }

span, p, div, ul, li {
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #fff; }

.wrapper {
  max-width: 1190px;
  padding: 0 15px;
  margin: 0 auto; }

.link {
  font-family: "Museo Sans Cyrl";
  cursor: pointer;
  font-size: 14px;
  font-weight: 400; }
  .link.visited, .link.active {
    text-decoration: none; }

.divider-horizontal {
  width: 47px;
  height: 6px;
  background: #000;
  margin: 25px 0; }

.main-title {
  color: #ffffff;
  font-family: "Yeseva One";
  font-size: 52px;
  font-weight: 400;
  line-height: 58px; }

.title {
  color: #fff;
  font-family: 'Yeseva One', cursive;
  font-size: 64px;
  font-weight: 400;
  line-height: 68px;
  margin-bottom: 20px; }

.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 10; }
  .header__container {
    padding-top: 12px; }
  .header__line {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header__socials, .header__right {
    display: flex;
    justify-content: space-between;
    width: 142px;
    margin-top: -40px; }
  .header__social-link {
    width: 20px;
    height: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center; }
    .header__social-link:hover {
      opacity: 0.6; }
  .header__login-btn {
    color: #ffffff;
    font-family: "Fira Sans";
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.56px;
    text-transform: uppercase;
    padding-left: 30px;
    padding-right: 30px;
    border: 2px solid #fff;
    cursor: pointer;
    display: flex;
    align-items: center; }
    .header__login-btn:hover {
      background: #fff;
      color: #191e24; }
  .header__lang {
    width: 32px;
    height: 32px;
    font-family: "Fira Sans";
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.56px;
    line-height: 14px;
    text-transform: uppercase;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; }
    .header__lang:hover {
      background: rgba(255, 255, 255, 0.5); }

.nav {
  justify-content: center;
  margin-top: 15px; }
  .nav__link {
    margin: 0 10px;
    color: #ffffff;
    font-weight: 500;
    letter-spacing: 0.56px;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2); }

.banner {
  max-height: 550px;
  overflow: hidden;
  margin-bottom: 90px; }
  .banner__image {
    position: absolute;
    display: block;
    width: 100%;
    max-height: 550px;
    overflow: hidden; }
    .banner__image img {
      width: 100%; }
    .banner__image:after {
      position: absolute;
      content: '';
      width: 100%;
      height: 230px;
      background-image: linear-gradient(180deg, rgba(25, 30, 36, 0) 0%, #191e24 90%);
      z-index: 10;
      bottom: 0;
      left: 0; }
  .banner__head {
    position: relative;
    max-width: 511px;
    z-index: 20;
    margin-top: 205px; }
  .banner__text {
    max-width: 581px;
    font-size: 14px;
    line-height: 26px;
    margin-top: 30px;
    opacity: 0.8; }

.footer {
  margin-top: 60px; }
  .footer__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 32px; }
  .footer__left, .footer__right {
    flex: 0 0 50%;
    display: flex; }
  .footer__left {
    flex-wrap: wrap; }
  .footer__right {
    flex-direction: column; }
  .footer__navItem {
    flex: 0 0 33.3%; }
    .footer__navItem a {
      font-size: 14px;
      color: #ffffff;
      font-weight: 500;
      letter-spacing: 0.56px;
      text-decoration: none;
      text-transform: uppercase;
      border-bottom: 2px solid rgba(255, 255, 255, 0.2); }
  .footer__docs {
    display: flex; }
  .footer__docsItem {
    line-height: 20px; }
    .footer__docsItem:not(:last-of-type) {
      margin-right: 20px; }
    .footer__docsItem a {
      color: #ffffff;
      font-family: "Fira Sans";
      font-size: 12px;
      border-bottom: 2px solid rgba(255, 255, 255, 0.2); }
  .footer__socials {
    margin: 12px 0; }
    .footer__socials .header__socials {
      margin-top: 0; }
  .footer__copy {
    font-family: "Fira Sans";
    font-size: 12px;
    line-height: 14px; }

.mainCourse {
  position: relative;
  z-index: 20; }

.coursePreview {
  position: relative;
  overflow: hidden;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 16px;
  height: 320px; }
  .coursePreview:hover .coursePreview__image {
    opacity: 0.6; }
  .coursePreview__image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    z-index: 1;
    opacity: 0.5;
    transition: 0.3s; }
    .coursePreview__image:after {
      display: block;
      position: absolute;
      content: '';
      bottom: 0;
      left: 0;
      width: 100%;
      height: calc(50% + 20px);
      transition: 0.4s;
      background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%); }
    .coursePreview__image img {
      width: 100%; }
  .coursePreview__head, .coursePreview__bottom {
    position: relative;
    z-index: 2;
    padding: 16px 20px 20px 20px; }
  .coursePreview__avatar {
    width: 64px;
    height: 64px;
    margin-right: 16px;
    border-radius: 50%;
    overflow: hidden; }
    .coursePreview__avatar img {
      width: 100%; }
  .coursePreview__head {
    display: flex;
    align-items: center; }
  .coursePreview__text {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .coursePreview__rank {
    opacity: 0.6;
    font-size: 12px;
    line-height: 16px; }
  .coursePreview__speakerName {
    font-size: 16px;
    cursor: pointer; }
    .coursePreview__speakerName:hover {
      color: #ffa246; }
  .coursePreview__name {
    font-size: 32px;
    cursor: pointer; }
    .coursePreview__name:hover {
      color: #ffa246; }
  .coursePreview__rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 116px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 12px; }
    .coursePreview__rating .star {
      width: 17px;
      height: 17px;
      background: url("../img/rating-star-empty.svg");
      background-repeat: no-repeat; }
      .coursePreview__rating .star:hover {
        background: url("../img/rating-star.svg");
        background-repeat: no-repeat; }
        .coursePreview__rating .star:hover ~ * {
          background: url("../img/rating-star.svg");
          background-repeat: no-repeat; }
    .coursePreview__rating.rankD .star:nth-last-of-type(-n + 2) {
      background: url("../img/rating-star.svg");
      background-repeat: no-repeat; }
    .coursePreview__rating.rankC .star:nth-last-of-type(-n + 3) {
      background: url("../img/rating-star.svg");
      background-repeat: no-repeat; }
    .coursePreview__rating.rankB .star:nth-last-of-type(-n + 4) {
      background: url("../img/rating-star.svg");
      background-repeat: no-repeat; }
    .coursePreview__rating.rankA .star:nth-last-of-type(-n + 5) {
      background: url("../img/rating-star.svg");
      background-repeat: no-repeat; }
  .coursePreview__info {
    display: flex; }
    .coursePreview__info .infoItem {
      display: flex;
      flex-direction: column; }
      .coursePreview__info .infoItem:not(:last-of-type) {
        margin-right: 20px; }
      .coursePreview__info .infoItem__name {
        font-size: 12px;
        opacity: 0.6; }
      .coursePreview__info .infoItem__value {
        font-size: 16px; }
  .coursePreview-big {
    height: 440px; }
    .coursePreview-big .coursePreview__head, .coursePreview-big .coursePreview__bottom {
      padding: 25px 32px 35px 32px; }
    .coursePreview-big .coursePreview__avatar {
      width: 80px;
      height: 80px; }
    .coursePreview-big .coursePreview__speakerName {
      font-size: 32px;
      line-height: 36px; }
    .coursePreview-big .coursePreview__rank {
      font-size: 16px; }
    .coursePreview-big .coursePreview__name {
      font-size: 52px; }
    .coursePreview-big .coursePreview__rating {
      margin-top: 18px;
      margin-bottom: 20px; }
    .coursePreview-big .coursePreview__image {
      opacity: 0.5; }

.homeCourses {
  margin-top: 80px; }
  .homeCourses__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .homeCourses__list > div {
      flex: 0 0 calc(50% - 8px); }

.sectionTotal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 4px solid #fff;
  margin-top: 40px; }
  .sectionTotal__left {
    font-size: 52px;
    line-height: 64px; }
  .sectionTotal__right .more {
    color: #191e24;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: -0.3px;
    line-height: 24px;
    padding: 13px 14px 12px 20px;
    background-color: #ffa246;
    border-radius: 2px;
    box-shadow: none;
    border: none;
    text-transform: uppercase;
    cursor: pointer; }
    .sectionTotal__right .more:hover {
      background: rgba(255, 162, 70, 0.8); }

.checkYourself {
  margin-top: 80px; }
  .checkYourself__container {
    background: #fff;
    padding: 26px 43px;
    display: flex; }
    .checkYourself__container .title {
      color: #191e24;
      font-size: 52px;
      line-height: 50px; }
    .checkYourself__container .text {
      color: #191e24;
      font-size: 16px;
      line-height: 22px; }
    .checkYourself__container .help {
      color: #009bdf;
      font-size: 12px;
      line-height: 16px;
      border-bottom: 1px dotted #009bdf;
      margin-bottom: 10px;
      cursor: pointer; }
  .checkYourself__board {
    width: 420px;
    margin-right: 57px; }
    .checkYourself__board img {
      width: 100%; }
  .checkYourself__history {
    display: flex;
    align-items: flex-end; }
    .checkYourself__history img {
      width: 168px;
      margin-left: -20px;
      margin-right: 25px; }
  .checkYourself__box {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .checkYourself__restart, .checkYourself__next {
    color: #191e24;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
    padding: 8px 20px;
    border: none;
    border: 2px solid #191e24;
    border-radius: 2px;
    cursor: pointer; }
  .checkYourself__restart {
    margin-right: 10px; }
    .checkYourself__restart:hover {
      background: rgba(0, 0, 0, 0.1); }
  .checkYourself__next {
    background: #ffa246;
    border-color: #ffa246; }
    .checkYourself__next:hover {
      opacity: 0.9; }

.webinarPreview {
  position: relative;
  padding: 12px;
  flex: 0 0 25%;
  overflow: hidden;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 290px; }
  .webinarPreview__divider {
    background: #ffa246;
    width: 100%;
    height: 2px; }
  .webinarPreview__date {
    opacity: 0.6;
    color: #191e24;
    font-size: 16px;
    line-height: 22px; }
  .webinarPreview__title {
    color: #191e24;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    cursor: pointer;
    margin-top: 10px; }
    .webinarPreview__title:hover {
      color: #ffa246 !important; }
  .webinarPreview__bottomBox {
    display: flex;
    align-items: center;
    margin-bottom: 10px; }
  .webinarPreview__text {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .webinarPreview__avatar {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 16px; }
    .webinarPreview__avatar img {
      width: 100%; }
  .webinarPreview__rank {
    opacity: 0.6;
    color: #191e24;
    font-size: 12px;
    line-height: 12px; }
  .webinarPreview__speakerName {
    color: #191e24;
    font-size: 16px;
    cursor: pointer; }
    .webinarPreview__speakerName:hover {
      color: #ffa246 !important; }
  .webinarPreview__info {
    display: flex;
    margin-top: 10px; }
  .webinarPreview__infoItem {
    margin-right: 20px;
    display: flex;
    flex-direction: column; }
    .webinarPreview__infoItem .infoItem__name {
      opacity: 0.6;
      color: #191e24;
      font-size: 12px;
      line-height: 16px; }
    .webinarPreview__infoItem .infoItem__value {
      color: #191e24;
      font-size: 16px;
      line-height: 22px; }
  .webinarPreview:nth-of-type(2), .webinarPreview:nth-of-type(4), .webinarPreview:nth-of-type(5), .webinarPreview:nth-of-type(7) {
    background: linear-gradient(23deg, #191e24 0%, #65686c 100%); }
    .webinarPreview:nth-of-type(2) .webinarPreview__title, .webinarPreview:nth-of-type(4) .webinarPreview__title, .webinarPreview:nth-of-type(5) .webinarPreview__title, .webinarPreview:nth-of-type(7) .webinarPreview__title {
      color: #fff; }
    .webinarPreview:nth-of-type(2) .webinarPreview__date, .webinarPreview:nth-of-type(4) .webinarPreview__date, .webinarPreview:nth-of-type(5) .webinarPreview__date, .webinarPreview:nth-of-type(7) .webinarPreview__date {
      opacity: 0.6;
      color: #ffffff; }
    .webinarPreview:nth-of-type(2) .webinarPreview__rank, .webinarPreview:nth-of-type(4) .webinarPreview__rank, .webinarPreview:nth-of-type(5) .webinarPreview__rank, .webinarPreview:nth-of-type(7) .webinarPreview__rank {
      opacity: 0.6;
      color: #ffffff; }
    .webinarPreview:nth-of-type(2) .webinarPreview__speakerName, .webinarPreview:nth-of-type(4) .webinarPreview__speakerName, .webinarPreview:nth-of-type(5) .webinarPreview__speakerName, .webinarPreview:nth-of-type(7) .webinarPreview__speakerName {
      color: #ffffff; }
    .webinarPreview:nth-of-type(2) .webinarPreview__infoItem .infoItem__name, .webinarPreview:nth-of-type(4) .webinarPreview__infoItem .infoItem__name, .webinarPreview:nth-of-type(5) .webinarPreview__infoItem .infoItem__name, .webinarPreview:nth-of-type(7) .webinarPreview__infoItem .infoItem__name {
      opacity: 0.6;
      color: #ffffff; }
    .webinarPreview:nth-of-type(2) .webinarPreview__infoItem .infoItem__value, .webinarPreview:nth-of-type(4) .webinarPreview__infoItem .infoItem__value, .webinarPreview:nth-of-type(5) .webinarPreview__infoItem .infoItem__value, .webinarPreview:nth-of-type(7) .webinarPreview__infoItem .infoItem__value {
      color: #ffffff; }

.homeWebinars {
  margin-top: 90px; }
  .homeWebinars__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }

.phase {
  position: absolute;
  top: 8px;
  right: 8px;
  opacity: 0.7;
  z-index: 2; }
  .phase__layout {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    opacity: 0.3;
    background-image: linear-gradient(72deg, #ffa246 0%, #805123 100%); }
  .phase__box {
    position: relative;
    padding: 0px 7px 0px 4px;
    z-index: 2;
    color: #ffffff;
    font-weight: 500;
    display: flex;
    align-items: center; }
  .phase__name {
    margin-left: 4px; }
  .phase.debut .phase__box {
    background: #ffa246; }
  .phase.mittelspiel .phase__box {
    background-color: #3ed7e2; }
  .phase.endspiel .phase__box {
    background: #ff4672; }

.homeLessons {
  margin-top: 90px; }
  .homeLessons__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }

.lessonPreview {
  flex: 0 0 calc(33.3% - 8px);
  height: 290px;
  margin-bottom: 16px;
  position: relative; }
  .lessonPreview__box {
    height: 100%;
    position: relative;
    padding: 12px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .lessonPreview__back {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden; }
    .lessonPreview__back img {
      width: 100%; }
  .lessonPreview__divider {
    background: #ffa246;
    width: 100%;
    height: 2px; }
  .lessonPreview__date {
    opacity: 0.6;
    color: #fff;
    font-size: 16px;
    line-height: 22px; }
  .lessonPreview__title {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    cursor: pointer;
    margin-top: 10px; }
    .lessonPreview__title:hover {
      color: #ffa246 !important; }
  .lessonPreview__bottomBox {
    display: flex;
    align-items: center;
    margin-bottom: 10px; }
  .lessonPreview__text {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .lessonPreview__avatar {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 16px; }
    .lessonPreview__avatar img {
      width: 100%; }
  .lessonPreview__rank {
    opacity: 0.6;
    color: #fff;
    font-size: 12px;
    line-height: 12px; }
  .lessonPreview__speakerName {
    color: #fff;
    font-size: 16px;
    cursor: pointer; }
    .lessonPreview__speakerName:hover {
      color: #ffa246 !important; }
  .lessonPreview__info {
    display: flex;
    margin-top: 10px; }
  .lessonPreview__infoItem {
    margin-right: 20px;
    display: flex;
    flex-direction: column; }
    .lessonPreview__infoItem .infoItem__name {
      opacity: 0.6;
      color: #fff;
      font-size: 12px;
      line-height: 16px; }
    .lessonPreview__infoItem .infoItem__value {
      color: #fff;
      font-size: 16px;
      line-height: 22px; }

.homeTariffs {
  margin-top: 90px; }
  .homeTariffs__list {
    display: flex;
    justify-content: space-between;
    align-items: flex-end; }

.homeTariff {
  position: relative;
  flex: 0 0 33.1%;
  padding: 14px 44px 32px 44px;
  height: 565px; }
  .homeTariff.base {
    background: #fff; }
  .homeTariff.master {
    background: #fff;
    background-image: linear-gradient(36deg, #191e24 0%, #65686c 100%);
    height: 585px;
    box-shadow: 0 3px 64px rgba(25, 30, 36, 0.8);
    z-index: 10;
    flex: 0 0 33.8%;
    padding: 24px 44px 32px 44px; }
    .homeTariff.master .homeTariff__head {
      border-color: #ffa246; }
    .homeTariff.master .homeTariff__name, .homeTariff.master .homeTariff__include, .homeTariff.master .homeTariff__price {
      color: #fff; }
    .homeTariff.master .homeTariff__scope {
      padding-top: 18px; }
    .homeTariff.master .homeTariff__button {
      border-color: #ffa246;
      color: #ffa246; }
      .homeTariff.master .homeTariff__button:hover {
        background: #ffa246;
        color: #191e24; }
  .homeTariff.gross {
    background-image: linear-gradient(33deg, #ffa246 0%, #ffc285 100%); }
    .homeTariff.gross .homeTariff__head {
      border-color: #fff; }
    .homeTariff.gross .homeTariff__button:hover {
      background: #191e24;
      color: #ffa246; }
  .homeTariff__head {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #191e24;
    padding-bottom: 4px; }
  .homeTariff__box {
    padding-top: 25px; }
  .homeTariff__bottom {
    position: absolute;
    left: 0;
    bottom: 30px;
    width: 100%; }
  .homeTariff__name {
    color: #191e24;
    font-size: 32px;
    line-height: 40px;
    text-align: center; }
  .homeTariff__include {
    color: #191e24;
    font-size: 16px;
    line-height: 22px;
    padding-top: 15px; }
  .homeTariff__scope {
    padding-left: 20px;
    padding-top: 9px; }
  .homeTariff__price {
    color: #191e24;
    font-family: "Yeseva One";
    font-size: 40px;
    text-align: center; }
  .homeTariff__buttonBox {
    display: flex;
    justify-content: center;
    padding-top: 25px; }
  .homeTariff__button {
    color: #191e24;
    font-family: "Fira Sans";
    font-size: 22px;
    font-weight: 500;
    padding: 11px 20px;
    background: transparent;
    border: 2px solid #191e24;
    border-radius: 2px;
    text-transform: uppercase;
    cursor: pointer; }
    .homeTariff__button:hover {
      background: rgba(0, 0, 0, 0.1); }

.subscribe {
  margin-top: 80px; }
  .subscribe__container {
    padding: 22px 25px 40px 25px;
    border: 2px solid #fff; }
  .subscribe__title {
    color: #ffffff;
    font-size: 32px; }
  .subscribe__text {
    color: #ffffff;
    font-size: 16px;
    padding: 14px 0 26px 0; }
  .subscribe__input {
    width: 400px;
    height: 32px;
    border-radius: 2px;
    background-color: #ffffff;
    border: none;
    padding-left: 12px; }
    .subscribe__input::-webkit-input-placeholder {
      opacity: 0.3;
      color: #191e24;
      font-family: "Fira Sans";
      font-size: 16px;
      font-weight: 400; }
  .subscribe__button {
    width: 140px;
    height: 32px;
    border-radius: 2px;
    background-color: #ffa246;
    color: #191e24;
    font-size: 14px;
    font-weight: 600;
    border: none;
    cursor: pointer; }
    .subscribe__button:hover {
      opacity: 0.8; }

.videoModal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 300;
  display: none;
  display: block; }
  .videoModal__overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background: #000;
    opacity: 0.8;
    transition: 0.2s; }
  .videoModal__content {
    background: #000;
    position: absolute;
    width: 70%;
    height: 70%;
    top: 7%;
    left: 15%;
    overflow: hidden; }
  .videoModal__video {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover; }
  .videoModal__cancel {
    position: absolute;
    width: 24px;
    height: 24px;
    top: calc(7% - 3px);
    right: calc(15% - 40px);
    opacity: 0.7;
    cursor: pointer; }
    .videoModal__cancel:hover {
      opacity: 1; }
    .videoModal__cancel span {
      position: absolute;
      height: 2px;
      width: 100%;
      display: block;
      background: #fff;
      top: 50%;
      left: 0; }
      .videoModal__cancel span:nth-of-type(1) {
        transform: rotate(45deg); }
      .videoModal__cancel span:nth-of-type(2) {
        transform: rotate(-45deg); }
