.pageImitationWrapper {
  width: 100%;
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  box-shadow: 0px 10px 17px 0px rgba(0,0,0,0.45);
}

.pageLayout {
  width: 100%;
}
.pageLink {
  display: block;
  position: absolute;
  border: 2px solid transparent;
  background: transparent;
  top: 0%;
  left: 0%;
  width: 10%;
  height: 1%;
  z-index: 300;
  transition: 1s;
  &.active {
    border: 2px solid rgb(178, 178, 255);
    background: rgba(178, 178, 255, 0.6);
  }
}
.fakeMenu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 265px;
  &__link {
    &:nth-of-type(1) { // logo
      top: 2%;
      left: 45.5%;
      width: 9.1%;
      height: 34%;
    }
    &:nth-of-type(2) { // login
      top: 6.3%;
      left: 80.2%;
      width: 7.1%;
      height: 13%;
    }
    &:nth-of-type(3) {
      top: 40%;
      left: 25.5%;
      width: 5.3%;
      height: 11%;
    }
    &:nth-of-type(4) {
      top: 40%;
      left: 31.5%;
      width: 6.2%;
      height: 11%;
    }
    &:nth-of-type(5) {
      top: 40%;
      left: 38.5%;
      width: 4.3%;
      height: 11%;
    }
    &:nth-of-type(6) {
      top: 40%;
      left: 43.5%;
      width: 9.3%;
      height: 11%;
    }
    &:nth-of-type(7) {
      top: 40%;
      left: 53.5%;
      width: 10.3%;
      height: 11%;
    }
    
  }
}
.coursesLink1 {
  top: 12.1%;
  left: 10%;
  width: 15%;
  height: 1%;
}
.courseLink1 {
  top: 12.1%;
  left: 41%;
  width: 18%;
  height: 1.4%;
}
.webinarsLinkOffline {
  top: 7.1%;
  left: 37.5%;
  width: 7%;
  height: 1.3%;
}
.webinarsLinkOnline {
  top: 8.9%;
  left: 31.5%;
  width: 6%;
  height: 1.3%;
}
.webinarsLinkWebinarOnline {
  top: 10.9%;
  left: 50.5%;
  width: 18%;
  height: 2%;
}
.webinarsLinkWebinarOffline {
  top: 13.7%;
  left: 50.5%;
  width: 18%;
  height: 2%;
}
.lessonsLink {
  top: 40.5%;
  left: 9.5%;
  width: 26.5%;
  height: 10.9%;
}
.falseMenu {
  top: 4%;
  &-webinars {
    left: 31.5%;
    width: 6%;
  }
  &-play {
    left: 38.2%;
    width: 5%;
  }
  &-teachers {
    left: 43.5%;
    width: 9.3%;
  }
  &-school {
    left: 53.4%;
    width: 10.3%;
  }
  &-forum {
    left: 64.4%;
    width: 4.3%;
  }
  &-tariffs {
    left: 69.4%;
    width: 5.6%;
  }
  &-home {
    left: 45%;
    height: 3.5%;
  }
}
.teachersLink {
  top: 16.8%;
  left: 19.5%;
  width: 18.5%;
  height: 2.4%; 
}
.teacherLinkTranings {
  top: 34.8%;
  left: 35.5%;
  width: 8%;
  height: 2.4%; 
}
.teacherLinkTraning {
  top: 35.5%;
  left: 14.2%;
  width: 5%;
  height: 2.4%; 
}
.trainingsLink {
  top: 15.2%;
  left: 30.3%;
  width: 23%;
  height: 2.4%; 
}
.trainingLink {

}
.playChooseLink {
  top: 60%;
  left: 9.3%;
  width: 9%;
  height: 4.4%; 
}
.loginLink {
  top: 66.2%;
  left: 45.7%;
  width: 8.6%;
  height: 7.4%; 
}
.registeLoginrLink {
  top: 83.2%;
  left: 42.7%;
  width: 14.6%;
  height: 6.7%; 
}
.registerTeacherLink {
  top: 51.2%;
  left: 38.7%;
  width: 22.6%;
  height: 4.7%; 
}
.registerLinkRegister {
  top: 75.6%;
  left: 39.3%;
  width: 21.3%;
  height: 5%; 
}
.registerLinkLogin {
  top: 88%;
  left: 47.3%;
  width: 5.3%;
  height: 5%;
}
.registerTeacherLoginLink {
  top: 86%;
  left: 47.3%;
  width: 5.3%;
  height: 5%;
}
.registerTeacherLinkTeacherRegister {
  top: 70.6%;
  left: 39.3%;
  width: 21.3%;
  height: 6%;
}
.officeSettingsCoursesLink {
  top: 28%;
  left: 28.3%;
  width: 3.3%;
  height: 4%;
}
.officeSettingsGamesLink {
  top: 28%;
  left: 32.9%;
  width: 4.6%;
  height: 4%;
}
.officeSettingsLessonsLink {
  top: 28%;
  left: 38.4%;
  width: 5.0%;
  height: 4%;
}
.officeCoursesGamesLink {
  top: 14%;
  left: 32.9%;
  width: 4.6%;
  height: 2%;
}
.officeCoursesLessonsLink {
  top: 14%;
  left: 38.4%;
  width: 5.0%;
  height: 2%;
}
.officeLessonsLessonsLink {
  top: 22.3%;
  left: 27.3%;
  width: 5.0%;
  height: 3%;
}
.officeLessonsGamesLink {
  top: 22.3%;
  left: 32.9%;
  width: 4.6%;
  height: 3%;
}
.officeGamesAnalysis1 {
  top: 47.3%;
  left: 71.5%;
  width: 6.1%;
  height: 3%;
}
.analysis1Play {
  top: 63.4%;
  left: 61.1%;
  width: 2.8%;
  height: 3%;
}
.analysis2Play {
  top: 37.1%;
  left: 68.7%;
  width: 6.4%;
  height: 1.4%;
}