<div class="homeTariff base">
  <div class="homeTariff__head">
    <img src="/img/tariff-base.svg" alt="">
  </div>
  <div class="homeTariff__box">
    <div class="homeTariff__info">
      <h4 class="homeTariff__name">Базовый</h4>
      <div class="homeTariff__scope">
        <div class="homeTariff__include">Игра онлайн</div>
        <div class="homeTariff__include">Просмотр вебинаров</div>
        <div class="homeTariff__include">Обучение по лучшим методиками</div>
      </div>
    </div>
    <div class="homeTariff__bottom">
      <div class="homeTariff__price">Бесплатно</div>
      <div class="homeTariff__buttonBox">
        <button class="homeTariff__button">ЗАРЕГИСТРИРОВАТЬСЯ</button>
      </div>
    </div>
  </div>
</div>